
body {
	.main-title {
		@include os-b;
		font-size: 30px;
		color: #fff;
		text-align: center;

		&:after {
			display: block;
			content: "";
			width: 115px;
			height: 4px;
			background: #ed037e;
			margin: auto;
			margin-top: 30px;
		}
	}
}


/* ---------------------- Section top ---------------------- */
section.top {
	width: 100%;
	max-width: 100%;
	height: 820px;
	background: url("../images/index/top-bg.png") no-repeat;
	background-position: top center;
	background-size: auto 100%;

	.cover {
		background: url("../images/index/cover.png") repeat-x;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 247px;
		z-index: 1;
	}

	.section-inner {
		margin-top: 200px;
		text-align: center;
		position: relative;
		z-index: 1;
		.title {
			@include os-ex-b;
			font-size: 68px;
			line-height: 85px;
			color: #ed037e;
			text-align: center;

			@extend .hidden-to-show;
			animation-delay: 0.5s;
		}

		.desc {
			@include os-b;
			font-size: 42px;
			line-height: 42px;
			color: #333;
			text-align: center;

			@extend .hidden-to-show;
			animation-delay: 1s;
		}

		.buttons {
			font-size: 0;
			margin: auto;
			margin-top: 25px;
			@extend .hidden-to-show;
			animation-delay: 1.5s;
			a {
				@include os-b;
				display: inline-block;
				font-size: 22px;
				color: #fff;
				background: #245470;
				width: 100%;	
				max-width: 233px;
				margin: 0 10px;
				padding: 20px 40px;
				transition: 0.5s;
			}

			.link-yellow {
				background: #ed037e;
				&:hover {
					background: #66c6ef;
				}
			}

			.link-blue {
				background: #66c6ef;
				&:hover {
					background: #ed037e;
				}
			}
		}
	}

	@media only screen and (max-width : 920px) {
		height: 520px;

		.section-inner {
			margin-top: 125px;
		}
	}

	@media only screen and (max-width : 550px) {
		height: auto;
		padding-bottom: 35px;
		.section-inner {
			margin-top: 95px;

			.title {
				font-size: 45px;
				line-height: 45px;
			}

			.desc {
				margin-top: 25px;
				font-size: 35px;
				line-height: 35px;
			}

			.buttons {
				a {
					font-size: 22px;
					width: 100%;	
					max-width: 233px;
					margin: 0 10px;
					padding: 10px;
					margin-top: 15px;
				}
			}
		}
	}
}

.hidden-to-show {
	position: relative;
	animation-name: show-from-fade;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	opacity: 0;
}
@keyframes show-from-fade{
	0% { 
		opacity: 0;
		top: 50px;
	}
	100% { 	
		opacity: 1;
		top: 0;
	}
}
/* --------------------- /Section top ---------------------- */

/* ---------------------- Section advantages ---------------------- */
section.advantages {
	background: #333333;
	//padding: 70px 0;
	height: 280px;
	padding: 0px;
	.shape {
		position: absolute;
		left: 0px;
		bottom:-5px;
	}
	.boxes {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 0;
		.box {
			width: 20%;
			margin-top: 75px;
			.inner {
				text-align: center;
			}

			.icon {
				display: inline-block;
				height: 75px;
				background-repeat: no-repeat;
				background-position: center;
				transition: 0.5s;
				
				position: relative;
				img {
					transition: 0.5s;
				}
				.hover {
					position: absolute;
					top: 0;
					left: 0;
					opacity: 0;
				}
				
			}

			&:hover {
				.hover {
					opacity: 1;
				}
				.up {
					opacity: 0;
				}
			}

			.title {
				@include os-b;
				font-size: 22px;
				color: #fff;
				text-align: center;
				margin-top: 15px;

			}
			.text {
				@include os-r;
				font-size: 18px;
				color: #333;
				text-align: center;
				margin-top: 20px;
			}
		}
	}

	@media only screen and (max-width : 800px) {
		height: 465px;
		.boxes {
			flex-wrap: wrap;
			.box {
				width: 50%;
				margin: auto;
				margin-top: 75px;
				.inner {
					width: 100%;
					max-width: 300px;
					margin: auto;
				}
			}
		}
	}
}
/* --------------------- /Section advantages ---------------------- */

/* ---------------------- Section about ---------------------- */
section.about {
	//padding: 70px 0;
	padding: 70px 0 0px 0;
	position: relative;
	.shape {
		position: absolute;
		right: 0;
		top: 0;
	}
	.section-inner {
		
	}
	.cont-flex {
		display: flex;
		align-items: flex-start;
	}
	.part-left {
		text-align: left;
		padding-right: 25px;
	}
	.part-right {
		padding-left: 25px;
	}
	.half {
		width: 50%;
	}
	.content {
		@include os-r;
		font-size: 18px;
		color: #333;
		text-align: right;
		p {
			margin: 15px 0;
		}
		.title, h1,h2,h3,h4 {
			@include os-b;
			font-size: 30px;
			color: #ed037e;
			margin-bottom: 35px;
			margin-top: 35px;
		}
	}

	@media only screen and (max-width : 800px) {
		padding-bottom: 15px;
		padding-top: 15px;
		.cont-flex {
			flex-wrap: wrap;
		}
		.half {
			width: 100%;
		}

		.part-left {
			text-align: center;
			padding-right: 0;
		}
		.part-right {
			padding-left: 0;
			margin-bottom: 0px;
		}

		img {
			width: 100%;
			display:none;
		}
		.content {
			font-size: 18px;
			.title, h1,h2,h3,h4 {
				font-size: 24px;
				margin-bottom: 15px;
				margin-top: 0px;
			}
			p {
				margin: 0px 0;
			}
		}
	}
} 
/* --------------------- /Section about ---------------------- */

/* ---------------------- Section paths ---------------------- */
section.paths {
	padding-bottom: 70px;
	//padding-top: 70px;
	padding-top: 30px;
	.shape {
		position: absolute;
		left: 0;
		bottom: -5px;
	}
	.title-inner {
		@include os-b;
		font-size: 30px;
		color: #ed037e;
		text-align: center;
	}
	.boxes {
		display: flex;
		justify-content: space-between;
		margin-top: 70px;
		.box:nth-child(odd) {
			margin-left: 0px;
		}
		.box:nth-child(even) {
			margin-right: 5px;
			margin-left: 5px;
		}
		.box {
			width: 50%;
			border: 1px solid #333;
			padding: 30px;

			@media only screen and (max-width : 800px) {
				padding: 0px;
			}


			
			//margin: 0px 5px;
			text-align: center;
			.icon {
				display: inline-block;
				height: 90px;
				background-repeat: no-repeat;
				background-position: center;
				transition: 0.5s;
				
				position: relative;
				img {
					transition: 0.5s;
				}
				.hover {
					position: absolute;
					top: 0;
					left: 0;
					opacity: 0;
				}
			}
			
			.title {
				@include os-b;
				font-size: 30px;
				color: #245470;
				text-align: center;
				margin-top: 15px;
				transition: 0.5s;

				&:after {
					display: block;
					content: "";
					width: 78px;
					height: 4px;
					background: #f7921e;
					margin: auto;
					margin-top: 25px;
					transition: 0.5s;
				}
			}
			.text {
				@include os-r;
				font-size: 18px;
				color: #333333;
				text-align: center;
				margin-top: 20px;
				transition: 0.5s;
				padding: 0px 50px;
			}

			a {
				@include os-b;
				display: block;
				font-size: 22px;
				color: #fff;
				background: #245470;
				width: 100%;	
				padding: 10px;
				transition: 0.5s;
				text-align: center;
				margin-top: 40px;
			}

			&:nth-child(odd) {
				border-color: #ed037e;

				.title {
					color: #ed037e;
				}
				
				& .title:after {
					background: #ed037e;
				}

				a {
					background: #ed037e;
				}
			}
			&:nth-child(even) {
				border-color: #333;

				.title {
					color: #333
				}

				& .title:after {
					background: #333;
				}

				a {
					background: #333;
				}
			}
		

			&:hover {
				background: #797a7d;
				border-color: #797a7d;
				.icon {
					.up {
						opacity: 0;
					}
					.hover {
						opacity: 1;
					}
				}
				.title, .text {
					color: #fff;
				}
				& .title:after {
					background: #fff;
				}
				a {
					background: #fff;
					color: #797a7d;
				}
			}
		}
	}

	@media only screen and (max-width : 800px) {
		padding-bottom: 0px;
		padding-top: 0px;
		.boxes {
			flex-wrap: wrap;
			margin-top: 20px;
			.box {
				width: 100%;
				max-width: 400px;
				
				margin: auto;

				margin-bottom: 35px;
			}
		}
	}
}
/* --------------------- /Section paths ---------------------- */

/* ---------------------- Section opinions ---------------------- */
section.opinions {
	background: url("../images/index/opinions-bg.png") no-repeat;
	background-position: center;
	
	padding: 70px 0;
	.slider {
		.owl-next {
			top: 50%;
		}
		.item {
			width: 100%;
			max-width: 350px;
			text-align: right;
			@media only screen and (max-width : 550px) {
				max-width: 100%;
			}
			img {
				display: inline-block;
				width: auto;
			}
			.text {
				@include os-r;
				font-size: 18px;
				color: #333333;
				margin-top: 50px;
			}
			.name {
				@include os-b;
				font-size: 18px;
				color: #333333;
				text-align: left;
				margin-top: 20px;
			}
		}
	}
}
/* --------------------- /Section opinions ---------------------- */

/* ---------------------- Section more-info ---------------------- */
section.more-info {
	padding: 70px 0;
	position: relative;

	.main-title {
		@include os-b;
			font-size: 30px;
			color: #333;
			text-align: center;
	
		h2 {
			@include os-b;
			font-size: 30px;
			color: #333;
			text-align: center;
		}
		&:after {
			display: block;
			content: "";
			width: 115px;
			height: 4px;
			background: #ed037e;
			margin: auto;
			margin-top: 30px;
		}
	}


	
	.title {
		@include os-b;
		font-size: 30px;
		color: #ed037e;
	}

	.shape {
		position: absolute;
		left: 0;
		bottom: -5px;
	}
	.boxes {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 70px;
		.box {
			width: 32%;
			overflow: hidden;
			position: relative;
			margin-bottom: 2%;
			.bg {
				img {
					width: auto;
					height: 437px;

				}
			}
			.cover {
			/*	position: absolute;
				bottom: 0;
				top: 0;
				right: 0;
				left: 0;
				background: url("../images/cover-blue.png") no-repeat;
				background-position: bottom;
				z-index: 1; */
			}
			.content {
				position: absolute;
				bottom: 0;
				padding: 25px;
				z-index: 2;
			}
			.title {
				@include os-b;
				font-size: 22px;
				color: #fff;
				margin-top: 15px;
				transition: 0.5s;
			}
			.text {
				@include os-r;
				font-size: 18px;
				color: #fff;
				margin-top: 15px;
				transition: 0.5s;
			}

			a {
				@include os-b;
				display: block;
				font-size: 18px;
				color: #66c6ef;
				display: inline;
				transition: 0.5s;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	@media only screen and (max-width : 800px) {
		padding: 25px 0;
		
		.main-title {
			font-size: 24px;
		}

		.boxes {
			margin-top: 25px;
	}
		
	}

	@media only screen and (max-width : 1000px) {
		.boxes {
			flex-wrap: wrap;
			flex-direction: column;
			align-items: center;
			.box {
				width: 100%;
				max-width: 393px;
				margin-bottom: 25px;
			}
		}
	}
}
/* --------------------- /Section more-info ---------------------- */

/* ---------------------- Section contact ---------------------- */
section.contact {
	padding: 70px 0;
	@media only screen and (max-width : 800px) {
		padding: 30px 0;
	}

	background: #65c6f0;
	position: relative;
	.shape {
		position: absolute;
		right: 0;
		top: 75px;
	}
	.desc {
		@include os-r;
		font-size: 22px;
		color: #fff;
		text-align: center;
		margin-top: 35px;
	}

	form {
		margin-top: 70px;
		@media only screen and (max-width : 800px) {
			margin-top: 30px;
		}
		direction: rtl;
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: 35px;
		@media only screen and (max-width : 1160px) {
			justify-content: space-around;
		}
		.wpcf7-form-control-wrap {
			width: 24%;
			margin-left: 1%;
			@media only screen and (max-width : 1160px) {
				
			}
			@media only screen and (max-width : 960px) {
				width: 100%;
				margin-left: 0;
				max-width: 650px;
				margin: 0 20px;
			}
			position: relative;
		}
		
		span[role="alert"], .wpcf7-response-output {
			@include os-r;
			border: none;
		}

		input {
			width: 100%;
			@include os-r;
			font-size: 18px;
			color: #797a7d;
			background-color: #fff;
			border: none;
			outline: none;
			padding: 20px;

			&::placeholder {
			  color: #797a7d;
			}
			@media only screen and (max-width : 960px) {
				margin-bottom: 25px;
			}

			&.invalid {
				border: 1px solid red;
			}
		}

		input[type="submit"] {
			-webkit-appearance: none;
			
			width: 24%;
			@include os-r;
			font-size: 18px;
			color: #fff;
			padding: 20px;
			background-color: #ed037e;
		
			border: none;
			cursor: pointer;
			position: relative;
			
			transition: 0.5s;
			opacity: 1;
			&:hover {
				opacity: 0.7;
			}

			@media only screen and (max-width : 960px) {
				width: 100%;
				margin-left: 0;
				max-width: 650px;
				margin: 0 20px;
			}
		}
    }
}
/* --------------------- /Section contact ---------------------- */


/* ----------------- Footer -------------------- */
footer {
	.footer-inner {
		
	}
	.footer-top {
		background-color: #333;
		padding: 90px 10px;
		padding-top: 65px;
		@media only screen and (max-width : 640px) {
			padding: 0px 10px 25px 10px;
		}

		.flex-cont {
			width: 100%;
			max-width: 1176px;
			margin: auto;
			direction: rtl;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
	
			.column {
				margin: 0 20px;
				margin-top: 25px;
				max-width: 300px;
				@media only screen and (max-width : 690px) {
						&:nth-child(3) {
							display: none;
					}
				}
				@media only screen and (max-width : 520px) {
						&:nth-child(2) {
							display: none;
						}
				}
				@media only screen and (max-width : 400px) {
						&:nth-child(1) {
							display: none;
						}
				}
				p.title {
					@include os-b;
					font-size: 20px;
					color: #66c6ef;
					position: relative;
				}
				.content {
					margin-top: 20px;
					ul {
						padding-right: 0;
					}
					a, p, li {
						@include os-r;
						font-size: 18px;
						color: #fff;
						transition: 0.5s;
						
					}
					p {
						margin-top: 10px;
					}

					a:hover {
						color: #f7921e;
					}
				}
			} 
		}
	}

	.footer-bottom {
		background-color: #333;
		padding-top: 35px;
		padding-bottom: 35px;
		border-bottom: 0px solid #f7921e;
		border-top: 4px solid #717171;
		.section-inner {
			display: flex;
			justify-content: space-between;

		}
		
		.copy {
			p {
				@include os-r;
				font-size: 16px;
				color: #fff;
				position: relative;
				top: 3px;
			}
		}

		.credit	{
			a, span {
				@include os-r;
				font-size: 16px;
				color: #fff;
				position: relative;
				top: -3px;
				@media only screen and (max-width : 430px) {
					font-size: 16px;
				}
				img {
					position: relative;
					top: 3px;
					margin-right: 10px;
				}
			}
		}

		@media only screen and (max-width : 680px) {
			.section-inner {
				flex-wrap: wrap;
				justify-content: center;
			}
			.copy, .credit {
				width: 100%;
				text-align: center;
			}
			.copy {
				margin-bottom: 30px;
			}
		}
	}

}

/* ----------------- /Footer -------------------- */


/* ---------------------- .contact-floating ---------------------- */
.contact-button {
	position: fixed;
	top: 35%;
	left: 0;
	cursor: pointer;
	z-index: 999;


	animation-name: show-from-side;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-delay: 0.5s;
	opacity: 0;

	@media only screen and (max-width : 800px) {
		img {
			height: 130px;
		}
		top: auto;
		bottom: 25px;
	}
}


@keyframes show-from-side {
	0% { 
		opacity: 0;
		left: -50px
	}
	100% { 	
		opacity: 1;
		left: 0;
	}
}

.popup-contact {
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 999;
	display: none;
	text-align: center;

	.bg {
		background: rgba(0,0,0, 0.8);
		position: absolute;
		right: 0;
		left: 0;
		top: 0;
		bottom: 0;
		z-index: -1;
	}
	.form-cont {
		float: none;
		margin: auto;
		width: 100%;
		max-width: 700px;
		background: #fff;
		border: 7px solid #ed037e;
		padding: 30px;
		margin-top: 25px;
		position: relative;
		span[role="alert"], .wpcf7-response-output {
			@include os-r;
			border: none;
		}
		input, textarea {
			width: 100%;
			max-height: 150px;
			@include os-r;
			font-size: 18px;
			color: #797a7d;
			background-color: #e5e4e0;
			border: none;
			outline: none;
			padding: 20px;
			margin-top: 25px;
			&::placeholder {
			  color: #797a7d;
			}

			&.invalid {
				border: 1px solid red;
			}
		}
		
		input[type="submit"] {
			-webkit-appearance: none;
			
			width: 100%;
			max-width: 260px;
			margin-right: auto;
			@include os-b;
			font-size: 18px;
			color: #fff;
			padding: 15px;
			background-color: #66c6ef;
		
			border: none;
			cursor: pointer;
			position: relative;
			
			transition: 0.5s;
			opacity: 1;
			&:hover {
				opacity: 0.7;
			}
		}

		@media only screen and (max-width : 430px) {
			margin-top: 0;
			padding: 15px;
			form {
				margin-top: 15px;
			}
		}
	}

	h2, p.title {
		@include os-b;
		font-size: 50px;
		line-height: 40px;
		color: #2a292d;
		margin: 0;
		@media only screen and (max-width : 430px) {
			font-size: 38px;
		}
	}

	p.sub-title {
		@include os-b;
		font-size: 30px;
		line-height: 39px;
		color: #66c6ef;
		margin-top: 15px;
		direction: rtl;
		@media only screen and (max-width : 430px) {
			font-size: 24px;
			line-height: 24px;
		
		}
	}

	.close-form {
		position: absolute;
		right: -5px;
		top: -5px;
		cursor: pointer;
	}
	
}
/* --------------------- /.contact-floating ---------------------- */

/* ---------------------- .dropdown ---------------------- */
.dropdown {
	position: fixed;
	right: 0;
	left: 0;
	top: 100px;
	background: #66c6ef;
	padding-bottom: 25px;
	visibility: hidden;
	opacity: 0;
	transition: 0.25s;
	.flex-cont {
		width: 100%;
		max-width: 1176px;
		margin: auto;
		direction: rtl;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		
		.column {
			margin: 0 20px;
			margin-top: 25px;
			max-width: 300px;
			@media only screen and (max-width : 690px) {
					&:nth-child(3) {
						display: none;
				}
			}
			@media only screen and (max-width : 520px) {
					&:nth-child(2) {
						display: none;
					}
			}
			@media only screen and (max-width : 400px) {
					&:nth-child(1) {
						display: none;
					}
			}
			p.title {
				@include os-b;
				font-size: 18px;
				color: #fff;
				position: relative;
			}
			.content {
				margin-top: 20px;
				ul {
					padding-right: 0;
				}
				a, p, li {
					@include os-r;
					font-size: 18px;
					color: #fff !important;
					transition: 0.5s;
					margin: 0;
					line-height: 24px;
					
				}
				p {
					margin-top: 10px;
				}

				a:hover {
					color: #ed037e  !important;
				}
			}
		} 
	}
}
/* --------------------- /.dropdown ---------------------- */